<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/canon_nikon_sony.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Online website</title>
</head>
<body>
    {{>header}}
    <a href="/canon-3000d-page">
        <div class="items-layout-page">
            <img src="/Images/canon-3000d-canon-layout.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Canon EOS 3000D DSLR Camera 1 Camera Body, 18 - 55 mm Lens</p></div>
                <div class="rating"><img src="/logos/4 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;28,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/canon-1500d-page">
        <div class="items-layout-page">
            <img src="/Images/canon-1500d-canon-layout.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Canon EOS 1500D DSLR Camera 1 Camera Body, 18 - 55 mm Lens</p></div>
                <div class="rating"><img src="/logos/4.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;36,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/canon-200d-canon-layout.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Canon EOS 200D DSLR Camera 1 Camera Body, 18 - 55 mm Lens</p></div>
                <div class="rating"><img src="/logos/3.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;59,990</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/canon-700d-canon-layout.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Canon EOS 700D DSLR Camera 1 Camera Body, 18 - 55 mm Lens</p></div>
                <div class="rating"><img src="/logos/5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;43,940</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/Canon-80d.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Canon EOS 3000D DSLR Camera 1 Camera Body, 18 - 55 mm Lens</p></div>
                <div class="rating"><img src="/logos/3.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;54,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>


    {{>footer}}
    <div class="cart_item">

    </div>
    <script src="/js/script-cart.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>