<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
   {{>header}}
    <h1 style="transform: translate(25%,250%); font-size: 5vw; font-weight: bold;">Coming Soon ^_^</h1>

    {{>footer}}
    <div class="cart_item">

    </div>
    <script src="/js/script-cart.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>