<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Flipcamera</title>
</head>
<body>
    <form class="login-form" method="post" action="/login">
        <p>login</p>
        <div class="email_cont">
            <img src="/logos/login-log.jpg" alt="">
            <input id="email_txt" type="text" placeholder="email" name="email_l"><br>
        </div>
        <div class="password_cont">
            <img src="/logos/password-logo.jpg" alt="">
            <input type="text" placeholder="password" name="password_l"><br>
        </div>
        <input type="submit" value="Log-in" id="log-in-button">
    </form>
</body>
</html>