<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/canon_nikon_sony.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
   {{>header}}
    <a href="/nikon-d3000-page">
        <div class="items-layout-page">
            <img src="/Images/nikon D3000.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Nikon D3000 DSLR Camera</p></div>
                <div class="rating"><img src="/logos/4 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;68,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/nikon-d3500-page">
        <div class="items-layout-page">
            <img src="/Images/nikon D3500.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Nikon D3500 DSLR Camera AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR  (Black)</p></div>
                <div class="rating"><img src="/logos/4.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;36,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/nikon D5600.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Nikon D5600 DSLR Camera Body with Single Lens: AF-P DX Nikkor 18-55 MM F/3.5-5.6G VR</p></div>
                <div class="rating"><img src="/logos/5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;46,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/nikon D7500.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Nikon D7500 20.9MP Digital SLR Camera (Black) with AF-S DX NIKKOR 18-140mm f/3.5-5.6G ED VR Lens</p></div>
                <div class="rating"><img src="/logos/4 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;76,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/nikon Z50.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Nikon Z50 Mirroless Camera Body with NIKKOR Z DX 16-50mm f/3.5-6.3 VR </p></div>
                <div class="rating"><img src="/logos/4.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;56,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    {{>footer}}
    <div class="cart_item">

    </div>
    <script src="/js/script-cart.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>