<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/canon_nikon_sony.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>FlipCamera</title>
</head>
<body>
    {{>header}}
    <a href="/Sony-Alpha-ILCE-7RM4A-page">
        <div class="items-layout-page">
            <img src="/Images/Sony Alpha ILCE-7RM4A.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Sony Alpha ILCE-7RM4A Full-Frame 61.0MP Mirrorless Digital SLR Camera Body</p></div>
                <div class="rating"><img src="/logos/4 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;274,990</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/Sony Alpha ILCE-5100L.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>SONY ILCE-5100L Mirrorless Camera Body with Single Lens: 16-50mm Lens  </p></div>
                <div class="rating"><img src="/logos/4.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;40,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/Sony A58.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Sony Alpha a58 DSLR Camera with 18-55mm Lens</p></div>
                <div class="rating"><img src="/logos/5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;106,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/sony-ICLE-7M2K-page">
        <div class="items-layout-page">
            <img src="/Images/Sony ILCE 7M2K.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Sony ILCE-7M2K 24.3MP Digital SLR Camera (Black) with SEL2870 Lens</p></div>
                <div class="rating"><img src="/logos/4.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;80,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    <a href="/coming_soon">
        <div class="items-layout-page">
            <img src="/Images/Sony alpha a6400.jpg" alt="">
            <div class="info">
                <div class="prod_name"><p>Sony Alpha a6400 Mirrorless Camera</p></div>
                <div class="rating"><img src="/logos/3.5 star rating.jpg" alt=""></div>
                <div class="price"><span>Special price</span><p>&#8377;83,999</p><label>Free delivery</label></div>
            </div>
        </div>
    </a>
    {{>footer}}
    <div class="cart_item">

    </div>
    <script src="/js/script-cart.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>