<div class="footer">
        <div class="top_footer">
            <div class="footer_info">
                ABOUT US &nbsp;&nbsp;| &nbsp;&nbsp; CONTACT &nbsp;&nbsp;| &nbsp;&nbsp;HELP &nbsp;&nbsp;| &nbsp;&nbsp;CONSUMER POLICY
            </div>
            <div class="payment_methods">
                <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/payment-method_69e7ec.svg" alt="">
            </div>
        </div>
        <div class="bottom_footer">
            <div class="empty"></div>
            <span>© FlipCamera.com 2002-2023</span>
            <img src="/logos/twitter-and-facebook-and-youtube-icon-20.jpg" alt="">
        </div>
    </div>