<nav>
        <div class="left">
            <img src="/logos/Hamburger-menu.png" class="hamburger-menu" id="ham_menu">
            <label for="">FlipCamera</label>    
        </div>
        <div class="menu-container" id="menu-container">
            <div class="username">
                <p>User:</p>
                <span>{{username}}</span>
            </div>
            <div class="optioncontainer">
                <a href="/canon"><option >Canon</option></a>
                <a href="/nikon"><option >Nikon</option></a>
                <a href="/sony"><option >sony</option></a>
                <a href="/coming_soon"><option >Tripods</option></a>
                <a href="/coming_soon"><option >Holders</option></a>
            </div>
        </div>
        <div class="mid">
            <input class="searchbox" id="search-box" type="text" placeholder="Search" autocomplete="on">
            <div class="resultbox">
                
            </div>
        </div>
        <div class="right">
            <a href="/sign_up"><button>Sign up</button></a>
            <a href="/index"><img src="/logos/home-icon.png" alt=""></a>
            <img src="/logos/cart-icon.png" alt="" id="cart-button">
            <a href="/login"><img src="/logos/login-icon.png" alt="" id="login-button"></a>
        </div>
    </nav>